.backstyle {
    background: rgb(6,6,6);
    background: radial-gradient(circle, rgba(6,6,6,1) 0%, rgba(71,30,97,1) 100%); 
}

.container {
    max-width: 1200px;
  }
 
.mar{
    margin-top: 20px;
  }
  